/*Style for header and table of contents*/

header{
    position: fixed;
    width: 100vw;
    height: 100px;
    top: 0px;
    background-color: rgb(167, 216, 193);
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: #FFF;
}

h2{
    margin-top: 3vh;
    padding-top: 120px;
    text-align: center;
    text-decoration: underline;
}

nav{
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 1.2em;
}

nav ul{
    border-style: solid;
    border-color: rgb(100, 100, 100, 60);
    border-width: 2px;
    border-radius: .5cm;
}

nav li{
    padding: 15px 0px 15px 0px;
}

a{
    color: #242eb8;
}

/*General style for all entries*/
.entry{
    border-style: solid;
    border-radius: .5cm;
    border-width: 2px;
    border-color: hsla(205, 100%, 15%, 100%);
    margin: 5vh .55in 5vh .55in;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: hsl(87, 34%, 71%);
}

/*Style for first entry*/
#firstEntry{
    position: static;
    display: block;
}

/*Style for second entry*/
#secondEntry{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

#secondEntry img{
    margin: auto;
    max-width: 60vw;
}

#secondEntry p{
    display: inline-block;
}

/*Style for third entry*/
#thirdEntry video{
    max-width: 80%;
    padding-left: 8vw;
}

@media (max-width: 599px){
    #thirdEntry video{
        min-width: 100px;
    }
}

/*Style for entry creation form*/
form{
    
}

/*Style for footer*/
footer{
    margin-bottom: 2vh;
}