/*Style for header, table of contents, other general settings*/
*{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3{
    text-align: center;
}

header{
    position: fixed;
    width: 100vw;
    height: 105px;
    top: 0px;
    background-color: rgb(167, 216, 193);
    padding-top: 10px;
    font-size: 1.2em;
    color: #FFF;
}

main h2{
    margin-top: 3vh;
    padding-top: 120px;
    text-align: center;
    text-decoration: underline;
}

nav{
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 1.2em;
}

nav ul{
    border-style: solid;
    border-color: rgb(100, 100, 100, 60);
    border-width: 2px;
    border-radius: .5cm;
}

ul > li{
    padding: 15px 0px 15px 0px;
}

a{
    color: #242eb8;
}

/*General style for all entries*/
div[class]{
    margin: 5vh .55in 5vh .55in;
}

.entry{
    border-style: solid;
    border-radius: .5cm;
    border-width: 2px;
    border-color: hsla(205, 100%, 15%, 100%);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: hsl(87, 34%, 71%);
}

/*Style for first entry*/
#firstEntry{
    position: static;
    display: block;
}

li + li{
    padding-top: 6px;
}

/*Style for second entry*/
#secondEntry{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

p ~ img{
    margin: auto;
    max-width: 60vw;
}

#secondEntry p{
    display: inline-block;
}

/*Style for third entry*/
#thirdEntry video{
    max-width: 80%;
    padding-left: 8vw;
}

@media (max-width: 599px){
    #thirdEntry video{
        min-width: 100px;
    }
}

/*Style for entry creation form*/
form{
    max-width: 80%;
    margin: auto;
}

form fieldset{
    display: grid;
    grid-template-columns: 70vw;
    justify-content: center;
    grid-row-gap: 10px;
}

button:hover{
    color: darkblue;
}

button:active{
    color: black;
}

/*Style for footer*/
footer{
    margin-bottom: 2vh;
}

p.footing{
    text-decoration: underline;
    margin-left: 10vw;
}